In [1]:
from google.colab import drive
drive.mount ("/content/drive/")

Mounted at /content/drive/

In [2]:
import pandas as pd
df=pd.read_csv('/content/drive/MyDrive/heart_failure_clinical_records_dataset.csv')

In [3]:
df.describe
df=df.fillna(0)

In [4]:
df.describe

<bound method NDFrame.describe of       age  anaemia  creatinine_phosphokinase  ...  smoking  time  DEATH_EVENT
0    75.0        0                       582  ...        0     4            1
1    55.0        0                      7861  ...        0     6            1
2    65.0        0                       146  ...        1     7            1
3    50.0        1                       111  ...        0     7            1
4    65.0        1                       160  ...        0     8            1
..    ...      ...                       ...  ...      ...   ...          ...
294  62.0        0                        61  ...        1   270            0
295  55.0        0                      1820  ...        0   271            0
296  45.0        0                      2060  ...        0   278            0
297  45.0        0                      2413  ...        1   280            0
298  50.0        0                       196  ...        1   285            0

[299 rows x 13 columns]>

In [5]:
import numpy as np
from matplotlib import pyplot as plt

In [6]:
x1=df['age']
x2=df['anaemia']
x3=df['high_blood_pressure']
x4=df['creatinine_phosphokinase']
x5=df['diabetes']
x6=df['ejection_fraction']
x7=df['platelets']
x8=df['sex']
x9=df['serum_creatinine']
x10=df['serum_sodium']
x11=df['smoking']
x12=df['time']
y=df['DEATH_EVENT']
size=x1.size
print(x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,y)

0      75.0
1      55.0
2      65.0
3      50.0
4      65.0
       ...
294    62.0
295    55.0
296    45.0
297    45.0
298    50.0
Name: age, Length: 299, dtype: float64 0      0
1      0
2      0
3      1
4      1
      ..
294    0
295    0
296    0
297    0
298    0
Name: anaemia, Length: 299, dtype: int64 0      1
1      0
2      0
3      0
4      0
      ..
294    1
295    0
296    0
297    0
298    0
Name: high_blood_pressure, Length: 299, dtype: int64 0       582
1      7861
2       146
3       111
4       160
       ...
294      61
295    1820
296    2060
297    2413
298     196
Name: creatinine_phosphokinase, Length: 299, dtype: int64 0      0
1      0
2      0
3      0
4      1
      ..
294    1
295    0
296    1
297    0
298    0
Name: diabetes, Length: 299, dtype: int64 0      20
1      38
2      20
3      20
4      20
       ..
294    38
295    38
296    60
297    38
298    45
Name: ejection_fraction, Length: 299, dtype: int64 0      265000.00
1      263358.03
2      162000.00
3      210000.00
4      327000.00
         ...
294    155000.00
295    270000.00
296    742000.00
297    140000.00
298    395000.00
Name: platelets, Length: 299, dtype: float64 0      1
1      1
2      1
3      1
4      0
      ..
294    1
295    0
296    0
297    1
298    1
Name: sex, Length: 299, dtype: int64 0      1.9
1      1.1
2      1.3
3      1.9
4      2.7
      ...
294    1.1
295    1.2
296    0.8
297    1.4
298    1.6
Name: serum_creatinine, Length: 299, dtype: float64 0      130
1      136
2      129
3      137
4      116
      ...
294    143
295    139
296    138
297    140
298    136
Name: serum_sodium, Length: 299, dtype: int64 0      0
1      0
2      1
3      0
4      0
      ..
294    1
295    0
296    0
297    1
298    1
Name: smoking, Length: 299, dtype: int64 0        4
1        6
2        7
3        7
4        8
      ...
294    270
295    271
296    278
297    280
298    285
Name: time, Length: 299, dtype: int64 0      1
1      1
2      1
3      1
4      1
      ..
294    0
295    0
296    0
297    0
298    0
Name: DEATH_EVENT, Length: 299, dtype: int64

In [7]:
import random
x1_train=[]
x2_train=[]
x3_train=[]
x4_train=[]
x5_train=[]
x6_train=[]
x7_train=[]
x8_train=[]
x9_train=[]
x10_train=[]
x11_train=[]
x12_train=[]
y_train=[]

for j in range(0,1):
  for i in range(0,300,2):
    x1_train.append(x1[i])
    x2_train.append(x2[i])
    x3_train.append(x3[i])
    x4_train.append(x4[i])
    x5_train.append(x5[i])
    x6_train.append(x6[i])
    x7_train.append(x7[i])
    x8_train.append(x8[i])
    x9_train.append(x8[i])
    x10_train.append(x8[i])
    x11_train.append(x8[i])
    x12_train.append(x8[i])
    y_train.append(y[i])

In [8]:
x1_test=[]
x2_test=[]
x3_test=[]
x4_test=[]
x5_test=[]
x6_test=[]
x7_test=[]
x8_test=[]
x9_test=[]
x10_test=[]
x11_test=[]
x12_test=[]
y_test=[]
for i in range(1,300):
  for i in range(0,300,2):
    x1_test.append(x1[i])
    x2_test.append(x2[i])
    x3_test.append(x3[i])
    x4_test.append(x4[i])
    x5_test.append(x5[i])
    x6_test.append(x6[i])
    x7_test.append(x7[i])
    x8_test.append(x8[i])
    x9_test.append(x8[i])
    x10_test.append(x8[i])
    x11_test.append(x8[i])
    x12_test.append(x8[i])
    y_test.append(y[i])

In [9]:
e=[]
ee=[]
def linear(m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,c):
  sum=0
  yp=[]
  for i in range(0,len(x8_train)):
    yp.append(m1*x1_train[i]+m2*x2_train[i]+m3*x3_train[i]+m4*x4_train[i]+m5*x5_train[i]+m6*x6_train[i]+m7*x7_train[i]+m8*x8_train[i]+m9*x9_train[i]+m10*x10_train[i]+m11*x11_train[i]+m12*x12_train[i]+c)
    g=(y_train[i]-yp[i])**2
    sum=sum+g
  e.append(sum)
  ee.append(np.mod(sum,len(x1_train)))
  print(m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,c,np.mod(sum,len(x12_train)))
  sum=0

for i in range(1,100):
  linear(1+i,2+i,3+i,4+i,5+i,6+i,7+i,8+i,9+i,10+i,11+i,12+i,13+i)

2 3 4 5 6 7 8 9 10 11 12 13 14 106.125
3 4 5 6 7 8 9 10 11 12 13 14 15 100.75
4 5 6 7 8 9 10 11 12 13 14 15 16 41.5
5 6 7 8 9 10 11 12 13 14 15 16 17 77.25
6 7 8 9 10 11 12 13 14 15 16 17 18 59.25
7 8 9 10 11 12 13 14 15 16 17 18 19 137.25
8 9 10 11 12 13 14 15 16 17 18 19 20 10.5
9 10 11 12 13 14 15 16 17 18 19 20 21 129.0
10 11 12 13 14 15 16 17 18 19 20 21 22 44.5
11 12 13 14 15 16 17 18 19 20 21 22 23 54.0
12 13 14 15 16 17 18 19 20 21 22 23 24 11.5
13 14 15 16 17 18 19 20 21 22 23 24 25 63.5
14 15 16 17 18 19 20 21 22 23 24 25 26 62.0
15 16 17 18 19 20 21 22 23 24 25 26 27 5.0
16 17 18 19 20 21 22 23 24 25 26 27 28 42.0
17 18 19 20 21 22 23 24 25 26 27 28 29 28.0
18 19 20 21 22 23 24 25 26 27 28 29 30 111.0
19 20 21 22 23 24 25 26 27 28 29 30 31 136.0
20 21 22 23 24 25 26 27 28 29 30 31 32 108.0
21 22 23 24 25 26 27 28 29 30 31 32 33 25.0
22 23 24 25 26 27 28 29 30 31 32 33 34 40.0
23 24 25 26 27 28 29 30 31 32 33 34 35 146.0
24 25 26 27 28 29 30 31 32 33 34 35 36 50.0
25 26 27 28 29 30 31 32 33 34 35 36 37 48.0
26 27 28 29 30 31 32 33 34 35 36 37 38 148.0
27 28 29 30 31 32 33 34 35 36 37 38 39 34.0
28 29 30 31 32 33 34 35 36 37 38 39 40 18.0
29 30 31 32 33 34 35 36 37 38 39 40 41 100.0
30 31 32 33 34 35 36 37 38 39 40 41 42 126.0
31 32 33 34 35 36 37 38 39 40 41 42 43 108.0
32 33 34 35 36 37 38 39 40 41 42 43 44 30.0
33 34 35 36 37 38 39 40 41 42 43 44 45 42.0
34 35 36 37 38 39 40 41 42 43 44 45 46 6.0
35 36 37 38 39 40 41 42 43 44 45 46 47 60.0
36 37 38 39 40 41 42 43 44 45 46 47 48 70.0
37 38 39 40 41 42 43 44 45 46 47 48 49 8.0
38 39 40 41 42 43 44 45 46 47 48 49 50 52.0
39 40 41 42 43 44 45 46 47 48 49 50 51 32.0
40 41 42 43 44 45 46 47 48 49 50 51 52 134.0
41 42 43 44 45 46 47 48 49 50 51 52 53 10.0
42 43 44 45 46 47 48 49 50 51 52 53 54 142.0
43 44 45 46 47 48 49 50 51 52 53 54 55 56.0
44 45 46 47 48 49 50 51 52 53 54 55 56 80.0
45 46 47 48 49 50 51 52 53 54 55 56 57 44.0
46 47 48 49 50 51 52 53 54 55 56 57 58 110.0
47 48 49 50 51 52 53 54 55 56 57 58 59 112.0
48 49 50 51 52 53 54 55 56 57 58 59 60 66.0
49 50 51 52 53 54 55 56 57 58 59 60 61 102.0
50 51 52 53 54 55 56 57 58 59 60 61 62 102.0
51 52 53 54 55 56 57 58 59 60 61 62 63 38.0
52 53 54 55 56 57 58 59 60 61 62 63 64 84.0
53 54 55 56 57 58 59 60 61 62 63 64 65 66.0
54 55 56 57 58 59 60 61 62 63 64 65 66 126.0
55 56 57 58 59 60 61 62 63 64 65 66 67 4.0
56 57 58 59 60 61 62 63 64 65 66 67 68 126.0
57 58 59 60 61 62 63 64 65 66 67 68 69 34.0
58 59 60 61 62 63 64 65 66 67 68 69 70 36.0
59 60 61 62 63 64 65 66 67 68 69 70 71 148.0
60 61 62 63 64 65 66 67 68 69 70 71 72 38.0
61 62 63 64 65 66 67 68 69 70 71 72 73 46.0
62 63 64 65 66 67 68 69 70 71 72 73 74 116.0
63 64 65 66 67 68 69 70 71 72 73 74 75 28.0
64 65 66 67 68 69 70 71 72 73 74 75 76 18.0
65 66 67 68 69 70 71 72 73 74 75 76 77 86.0
66 67 68 69 70 71 72 73 74 75 76 77 78 114.0
67 68 69 70 71 72 73 74 75 76 77 78 79 126.0
68 69 70 71 72 73 74 75 76 77 78 79 80 18.0
69 70 71 72 73 74 75 76 77 78 79 80 81 12.0
70 71 72 73 74 75 76 77 78 79 80 81 82 116.0
71 72 73 74 75 76 77 78 79 80 81 82 83 14.0
72 73 74 75 76 77 78 79 80 81 82 83 84 22.0
73 74 75 76 77 78 79 80 81 82 83 84 85 124.0
74 75 76 77 78 79 80 81 82 83 84 85 86 36.0
75 76 77 78 79 80 81 82 83 84 85 86 87 144.0
76 77 78 79 80 81 82 83 84 85 86 87 88 78.0
77 78 79 80 81 82 83 84 85 86 87 88 89 122.0
78 79 80 81 82 83 84 85 86 87 88 89 90 62.0
79 80 81 82 83 84 85 86 87 88 89 90 91 26.0
80 81 82 83 84 85 86 87 88 89 90 91 92 36.0
81 82 83 84 85 86 87 88 89 90 91 92 93 22.0
82 83 84 85 86 87 88 89 90 91 92 93 94 70.0
83 84 85 86 87 88 89 90 91 92 93 94 95 62.0
84 85 86 87 88 89 90 91 92 93 94 95 96 14.0
85 86 87 88 89 90 91 92 93 94 95 96 97 92.0
86 87 88 89 90 91 92 93 94 95 96 97 98 50.0
87 88 89 90 91 92 93 94 95 96 97 98 99 32.0
88 89 90 91 92 93 94 95 96 97 98 99 100 28.0
89 90 91 92 93 94 95 96 97 98 99 100 101 32.0
90 91 92 93 94 95 96 97 98 99 100 101 102 82.0
91 92 93 94 95 96 97 98 99 100 101 102 103 108.0
92 93 94 95 96 97 98 99 100 101 102 103 104 78.0
93 94 95 96 97 98 99 100 101 102 103 104 105 8.0
94 95 96 97 98 99 100 101 102 103 104 105 106 86.0
95 96 97 98 99 100 101 102 103 104 105 106 107 102.0
96 97 98 99 100 101 102 103 104 105 106 107 108 132.0
97 98 99 100 101 102 103 104 105 106 107 108 109 4.0
98 99 100 101 102 103 104 105 106 107 108 109 110 40.0
99 100 101 102 103 104 105 106 107 108 109 110 111 84.0
100 101 102 103 104 105 106 107 108 109 110 111 112 104.0

In [10]:
print(ee)

[106.125, 100.75, 41.5, 77.25, 59.25, 137.25, 10.5, 129.0, 44.5, 54.0, 11.5, 63.5, 62.0, 5.0, 42.0, 28.0, 111.0, 136.0, 108.0, 25.0, 40.0, 146.0, 50.0, 48.0, 148.0, 34.0, 18.0, 100.0, 126.0, 108.0, 30.0, 42.0, 6.0, 60.0, 70.0, 8.0, 52.0, 32.0, 134.0, 10.0, 142.0, 56.0, 80.0, 44.0, 110.0, 112.0, 66.0, 102.0, 102.0, 38.0, 84.0, 66.0, 126.0, 4.0, 126.0, 34.0, 36.0, 148.0, 38.0, 46.0, 116.0, 28.0, 18.0, 86.0, 114.0, 126.0, 18.0, 12.0, 116.0, 14.0, 22.0, 124.0, 36.0, 144.0, 78.0, 122.0, 62.0, 26.0, 36.0, 22.0, 70.0, 62.0, 14.0, 92.0, 50.0, 32.0, 28.0, 32.0, 82.0, 108.0, 78.0, 8.0, 86.0, 102.0, 132.0, 4.0, 40.0, 84.0, 104.0]

In [11]:
a=np.array(ee).min()
print(a)
c=np.where(ee==a)

4.0

In [12]:
print(c)

(array([53, 95]),)

In [13]:
ee1=np.arange(0,99)
print(ee1)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71
 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95
 96 97 98]

In [16]:
import numpy as np
z=[]
zz=[]
def linear1(m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,c):
  sum=0
  yp=[]
  j=0
  for i in range(1,80):
    yp.append(m1*x1[i]+m2*x2[i]+m3*x3[i]+m4*x4[i]+m5*x5[i]+m6*x6[i]+m7*x7[i]+m8*x8[i]+m9*x9[i]+m10*x10[i]+m11*x11[i]+m12*x12[i]+c)
    g=(y[i]-yp[j])**2
    j=j+1
    sum=sum+g
  z.append(sum)
  zz.append(np.mod(sum,4735))
  print(m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,c,np.mod(sum,4735))
linear1(53,54,55,56,57,58,59,60,61,62,63,64,65)

53 54 55 56 57 58 59 60 61 62 63 64 65 1021.0